body {
 margin: 0;
 padding:0;
  
 font-family: "PT Sans", sans-serif;
  
 font-size: 14px;
 line-height: 26px;
 font-weight: 400;
 color: #000000;
 text-transform: uppercase;
  }

 a {
  text-decoration: none;
  color: #000000;
  padding: 16px;
}

.navigation {
font-size: 14px;
font-weight: 700;
line-height: 26px;
  
color: #000000;
}

.site-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
opacity: 0.3;
color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  height: 56px; 
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 0 73px;
  list-style: none;
}

.navigation_item {
  display: flex;
  margin: 0px 15px;
}

.logo {
  padding: 22px 130px 0 120px;
  margin: 0;
  text-align: center;
}

.logo_link {
  display: inline-block;
}

.symbols-list,
.pluses-list {
  list-style: none;
}

.symbol-item,
.plus-item {
  text-align: center;
}

.symbol-item h3,
.plus-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
  
.footer {
  padding: 36px 102px 36px 128px;
  margin-top: 78px;
  
  background-color: #ffffff;
  opacity: 0.9;
  min-height: 120px;
}

.footer .footer-container {
  display: flex;
}

.footer-contacts {
  font-size: 21px;
 font-weight: 700;
 line-height: 26px;
  width: 251px;
  margin: 0;
  margin-right: 145px;
  
  min-height: 52px;
}

.footer-social {
  width: 150px;
  
  min-height: 48px;
}

.footer-copyright {
  width: 197px;
  margin: 0;
  margin-left: auto;
  
  min-height: 40px;
}
 
.social {
  list-style: none;
  text-align: center;
}

.social-button {
color: #ffffff;
}

.modal {
 color: #000000;
 font-weight: 700;
 line-height: 26px;
}

.interest h2 {
font-size: 30px;
font-weight: 700; 
line-height: 24px;
}

.interest p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
} 

.modal h3 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-hotels input[type="date"],
.search-hotels input[type="number"] {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  
  background-color: #f2f2f2;
}

.search-hotels input:hover {
 background-color: #ebebeb;
}

.search-hotels input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
